@import "style/root.css";
@import "style/a11y.css";
@import "style/alert.css";
@import "style/card.css";
@import "style/code.css";
@import "style/form.css";
@import "style/layout.css";
@import "style/linkbutton.css";
@import "style/list.css";
@import "style/media.css";
@import "style/nav.css";
@import "style/table.css";
@import "style/tooltip.css";
@import "style/typography.css";
@import "style/utilities.css";
@import "style/ds.css";

@media print {
  div, section, article, header, main {
    --m-norm: 0.3;
  }

  * {
    background: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }

  body {
    font: 400 0.8rem/1.1 Tahoma, Verdana, sans-serif !important;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  h1 {
    font-size: var(--h2);
  }

  h2 {
    font-size: var(--h3);
  }

  nav, footer {
    display: none !important;
  }

  nav[aria-label="Breadcrumb"] {
    display: flex !important;
  }

  a::after {
    content: " (" attr(href) ")";
  }

}
