/***CARD***/
.cards {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cards > li {
  display: flex;
  flex: 0 1 30%;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 1.25ch 4ch;
  border: 1px solid var(--col-bg-medium);
  border-top: 0.25rem solid var(--col-text);
  padding-top: 0.5rem;
  transition: all 0.2s cubic-bezier(0.25,0.8,0.25,1);
}

.cards > li h2,
.cards > li h3 {
  margin: 0;
}

.cards > li img {
  display: block;
  width: calc(100% + 1rem);
  margin: -0.5rem;
  margin-bottom: 0;
}

.card > li p {
  margin-bottom: auto;
}

.cards > li p:last-child {
  margin-top: auto;
}

.cards > li footer {
  margin-top: auto;
}


/* card - job posting */
.card-job {
  border: 1px solid var(--col-bg-medium);
}

.card .card-job-title {
  background-color: var(--col-secondary-hint);
  border-bottom: 1px solid var(--col-secondary-light);
  margin: 0 0 0.3rem;
  padding: 1rem;
}

.card .card-job-body {
  display: flex;
  padding: 0.3rem 1rem;
}

.card .card-job-detail {
  flex: 0 1 25%;
  padding: 0.3rem 0.3rem 0.3rem 0;
  order: 2;
}

.card-job-detail th {
  white-space: nowrap;
}

.card-job-detail tr {
  border: 0;
  border-bottom: 1px solid;
}

.card .card-job-description {
  flex: 1 1 51%;
  padding: 0.3rem 0;
  margin: 0;
}

.card footer {
  border-top: 1px solid var(--col-bg-medium);
  background-color:  var(--col-bg-light);
  padding: 0.3rem 1rem;
  flex: 1 1 100%;
}

.card footer * {
  margin: 0 0.1rem;
}

.card-action {
  min-height: 3rem;
  min-width: 3rem;
}
