/***CARD***/
.cards {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem;
  }
}

.cards > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--col-bg-medium);
  padding: 0.5rem;
  transition: all 0.2s cubic-bezier(0.25,0.8,0.25,1);
}

.cards > * h2,
.cards > * h3 {
  margin: 0;
}

.cards > * picture {
  display: block;
  width: calc(100% + 1rem);
  margin: -0.5rem;
  margin-bottom: 0.5rem;
}

.card > * p {
  margin-bottom: auto;
}

.cards > * p:last-child {
  margin-top: auto;
}

.cards > * footer {
  margin: auto -0.5rem -0.5rem -0.5rem;
  background-color: var(--col-bg-light);
  padding: 0.5rem;
}

/* list-group in cards */
.cards .list-group {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.cards .list-group li {
  border-left: 0;
  border-right: 0;
}

/* horizontal card */
.cards-x > * {
  display: flex;
  align-items: flex-start;
}

.cards-x picture,
.cards-x > * > a {
  width: 10rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.cards-x .card-body {
  flex: 1;
}

.cards-x p {
  margin-bottom: 0;
}

/* card - job posting */
.card-job {
  border: 1px solid var(--col-bg-medium);
}

.card .card-job-title {
  background-color: var(--col-secondary-hint);
  border-bottom: 1px solid var(--col-secondary-light);
  margin: 0 0 0.3rem;
  padding: 1rem;
}

.card .card-job-body {
  display: flex;
  padding: 0.3rem 1rem;
}

.card .card-job-detail {
  flex: 0 1 18rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  order: 2;
}

.card-job-detail th {
  white-space: nowrap;
}

.card-job-detail tr {
  border: 0;
  border-bottom: 1px solid;
}

.card .card-job-description {
  flex: 1 1 51%;
  padding: 0.3rem 0;
  margin: 0;
}

.card footer {
  border-top: 1px solid var(--col-bg-medium);
  background-color:  var(--col-bg-light);
  padding: 0.3rem 1rem;
}

.card footer * {
  margin: 0 0.1rem;
}

.card footer a {
  display: inline-block;
}

.card-action {
  min-height: 5rem;
  width: 15rem;
  padding-bottom: 2rem;
}

.card-glyph {
  display: block;
  margin: auto;
}

.card-action p {
  margin-bottom: 0;
}

.card-action-button {
  width: auto;
  padding: 1rem;
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
}
