.hero {
  margin:0 -1rem;
  padding: calc( 2 * 1rem);
  text-align: center;
  background: url(/img/forest.svg) top center no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  width: calc(100% + 2rem);
}

.hero blockquote {
  border-left: 0;
}

.hero p {
  font-size: 140%;
}

#logo {
  text-decoration: none;
}
