body {
  margin: 0;
  background-color: var(--col-bg-light);
  background-size: contain;
}
main, body > footer {
  padding: 1rem;
}

@media (max-width: 50rem) {
  main, header, footer, body > nav {
    display: block;
    min-width: 100%;
  }
}

header {
  margin-bottom: calc( var(--m-norm) * 1rem);
  background-color: white;
}

footer {
  background-color: var(--col-text);
  color: var(--col-bg-light);
}

footer a {
  color: var(--col-bg-light);
}

footer a:hover,
footer a:focus {
  background-color: var(--col-secondary-light);
  color: var(col-text);
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/*** BLOCK STYLING ***/
main > article, section > article {
  padding: 1rem;
  background: white;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
  border: 1px solid var(--col-bg-medium);
}

article {
  position: relative;
}


/*** LEFT NAV ***/
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

header {
  background-color: white;
}

header, body > footer, main > h1, main > h2 {
  width: 100%;
}

body > nav, aside {
  flex-basis: 20rem;
  flex: 1 0 0;
}

nav + main {
  min-width: 50%;
  flex: 3 0px;
  /*flex-grow: 100;*/
}

article {
  margin-bottom: calc( var(--m-norm) * 1rem);
}

/* Content columns */
.col {
  columns: auto auto; /*width and count*/
}

.col-1 {
  columns: 1;
}

.col-2 {
  columns: 2;
}

.col-3 {
  columns: 3;
}

.col-4 {
  columns: 4;
}

@media (max-width:50rem) {
  main {
    order: 1;
    flex: 1 0 0;
  }
  body > nav {
    order: 2;
  }

  .col-1,
  .col-2,
  .col-3 {
    columns: 1;
  }

  .col-4 {
    columns: 2;
  }
}
