/***LINKS AND BUTTONS***/
a {
  color: #0053b0;
  transition: all ease 0.25s;
  padding: 0;
}

a:hover, a:focus {
  background-color: #0053b0;
  color: white;
  text-decoration: none;
}

main > footer a {
  color: #fafafa;
}

main > footer a:hover,
main > footer a:focus {
  background-color: #ffde7a;
  color: #333;
}

body > footer a:hover svg,
body > footer a:focus svg {
  fill: #ffde7a;
}

.link-svg,
.link-svg:hover,
.link-svg:focus {
  background: none;
}

body > footer a {
  color: #fafafa;
}


[aria-describedby="ext-site"]::after {
    content: ' \21D7';
    /*content: ' \21F1';*/
}

.icons [aria-describedby="ext-site"]::after {
    content: '';
}

a:hover code,
a:focus code,
a:active code {
  color: #0053b0;
}

button {
  border-radius: 0;
  -webkit-appearance: none; /* for older Safari browsers */
}

button,
.btn-primary,
.btn-secondary,
input[type="submit"] {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  display: inline-block;
  background-color: #7a0019;
  border: 1px solid #5b0013;
  transition: all ease 0.3s;
}

/*input[type="submit"] {
  min-height: 48px;
}*/

button:hover,
button:focus,
button:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #5b0013;
  outline: 0.2rem solid #0053b0;
  outline-offset: 0.1rem;
}

.btn-secondary {
  color: #333;
  background-color: #fc3;
  border: 1px solid #b88a00;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #ffc20d;
  color: #333;
}

.btn-ghost {
  background-color: white;
  color: #333;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active {
  background-color: #f0efee;
  color: #333;
}

.btn-exit {
  color: #333;
  background-color: #f0efee;
  border: 1px solid #767676;
}

.btn-exit:hover,
.btn-exit:focus,
.btn-exit:active {
  color: #fff;
  background-color: #767676;
}

/* linked image */
.link-img {
  position: relative;
}

.link-img:hover,
.link-img:focus {
  background-color: transparent;
  color: #0053b0;
  text-decoration: underline;
}

.link-img picture:hover::before,
.link-img picture:focus::before {
  display: block;
  background-color: #0053b0;
  opacity: 0.5;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
}

/* stand alone link */
.link-simple {
  background-color: white;
  padding: 1rem;
  display: block;
  margin-bottom: calc(1 * 1rem);
  text-decoration: none;
  outline: 0;
  border: 1px solid #f0efee;
}

.link-simple:hover, .link-simple:focus {
  box-shadow:inset 0 0 0 0.3rem #0053b0;
  background-color: white;
  color: #0053b0;
}

.link-simple > span {
  display: block;
}

.link-simple .link-title {
  line-height: 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.link-simple .link-description {
  color: #333;
}

.link-simple .link-title:hover, .link-simple .link-title:focus {
  text-decoration: underline;
}
