/***LINKS AND BUTTONS***/
a {
  color: var(--col-link);
  transition: all ease 0.25s;
  padding: 0;
}

a:hover, a:focus {
  background-color: var(--col-link);
  color: white;
  text-decoration: none;
}

main > footer a {
  color: var(--col-bg-light);
}

main > footer a:hover,
main > footer a:focus {
  background-color: var(--col-secondary-light);
  color: var(--col-text);
}


[aria-describedby="ext-site"]::after {
    content: ' \21D7';
    /*content: ' \21F1';*/
}

.icons [aria-describedby="ext-site"]::after {
    content: '';
}

button,
.btn-primary,
.btn-secondary,
input[type="submit"] {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  min-height: 48px;
  background-color: var(--col-primary);
  border: 1px solid var(--col-primary-dark);
  transition: all ease 0.3s;
}

button:hover,
button:focus,
button:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--col-primary-dark);
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}

.btn-secondary {
  color: var(--col-text);
  background-color: var(--col-secondary);
  border: 1px solid var(--col-secondary-darkest);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--col-secondary-dark);
  color: var(--col-text);
}

.btn-exit {
  color: var(--col-text);
  background-color: var(--col-bg-medium);
  border: 1px solid var(--col-bg-med-dark);
}

.btn-exit:hover,
.btn-exit:focus,
.btn-exit:active {
  color: #fff;
  background-color: var(--col-bg-med-dark);
}

/* linked image */
.link-img {
  position: relative;
}

.link-img:hover,
.link-img:focus {
  background-color: transparent;
  color: var(--col-link);
  text-decoration: underline;
}

.link-img picture:hover::before,
.link-img picture:focus::before {
  display: block;
  background-color: var(--col-link);
  opacity: 0.5;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
}

/* stand alone link */
.link-simple {
  background-color: white;
  padding: 1rem;
  display: block;
  margin-bottom: calc(var(--m-min) * 1rem);
  text-decoration: none;
  outline: 0;
  border: 1px solid var(--col-bg-medium);
}

.link-simple:hover, .link-simple:focus {
  box-shadow:inset 0 0 0 0.3rem var(--col-link);
  background-color: white;
  color: var(--col-link);
}

.link-simple > span {
  display: block;
}

.link-simple .link-title {
  line-height: 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.link-simple .link-description {
  color: var(--col-text);
}

.link-simple .link-title:hover, .link-simple .link-title:focus {
  text-decoration: underline;
}
