/***TOOLTIP
svinkle.me accessed 04/2019
***/
.tooltip {
  position: relative;
}

.tooltip::before {
  background-color: black;
  border-radius: 0.188rem;
  color: white;
  content: attr(aria-label);
  font-size: 0.8rem;
  opacity: 0;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  transition: all 0.25s ease;
}

.tooltip:hover::before {
  opacity: 0.9;
  transform: translateY(-110%);
}
