/***UTILITIES***/

/* FLEX BASICS */
.flex {
  margin: 0 auto;
  display: flex;
}

.flex > * {
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.flex:nth-of-type(5) > *:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2rem;
}

.flex:nth-of-type(6) > *:nth-of-type(2) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 3rem;
}

/* FLEX OPTIONS */
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}



.nowrap, .nowrap-md {
  flex-wrap: nowrap;
}

@media screen and (max-width: 50rem) {
  .nowrap-md {
    flex-wrap: wrap;
  }
}

.flex-square {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.flex-square > li {
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.square li {
  min-width: 5rem;
  max-width: 15rem;
}

.square-sm li {
  width: 10rem;
  height: 10rem;
}

.square-md li {
  width: 15rem;
  height: 15rem;
  background-color: #fafafa;
}

.flex-square svg.glyph {
  height: 5vw;
  width: 5vw;
  display: block;
  margin: auto;
}

.flex-square h3 {
  min-height: 2rem;
}

.flex-square code {
  display: block;
  background-color: transparent;
}

/* WIDTH */
.w-25 {
  display: inline-block;
  width: 25%;
}

.w-33 {
  display: inline-block;
  width: 33%;
}

.w-50 {
  display: inline-block;
  width: 50%;
}

.w-100 {
  display: block;
  width: 100%;
}

@media (max-width: 50rem) {
  .w-25 {
    display: inline-block;
    width: 50%;
  }

  .w-33 {
    display: inline-block;
    width: 100%;
  }

  .w-50 {
    display: inline-block;
    width: 100%;
  }
}

/* SIZE */
.svg-2x {
  height: 2rem;
  width: 2rem;
}

/* BORDER */
.b {
  border: 1px solid #5a5a5a;
}

.bm-1 {
  border-bottom: 1px solid #5a5a5a;
}

.b-0 {
  border: 0;
}

/* PADDING */
.p {
  padding: calc(0.5 * 1rem);
}

.p-1 {
  padding: calc(1 * 1rem);
}

.p-0 {
  padding: 0;
}

/* COLOR */
.c-primary {
  background-color: #7a0019;
  color: #fff;
}

.c-primary-text {
  color: #7a0019;
}

.c-primary-light {
  background-color: #900021;
  color: #fff;
}

.c-primary-light-text {
  color: #900021;
}

.c-primary-dark {
  background-color: #5b0013;
  color: #fff;
}

.c-primary-dark-text {
  color: #5b0013;
}

.c-secondary {
  background-color: #fc3;
  color: #333;
}

.c-secondary-text {
  color: #fc3;
}

.c-secondary-light {
  background-color: #ffde7a;
  color: #333;
}

.c-secondary-light-text {
  color: #ffde7a;
}

.c-secondary-dark {
  background-color: #ffc20d;
  color: #333;
}

.c-secondary-dark-text {
  color: #ffc20d;
}

.c-link {
  background-color: #0053b0;
  color: #fff;
}

.c-link-text {
  color: #0053b0;
}

.c-link-light {
  background-color: #5699dc;
  color: #fff;
}

.c-link-light-text {
  color: #5699dc;
}

.c-link-dark {
  background-color: #002d61;
  color: #fff;
}

.c-link-dark-text {
  color: #002d61;
}

.c-text {
  color: #333;
}

.c-text-light {
  color: #5a5a5a;
}

.c-bg-light {
  background-color: #fafafa;
}

.c-bg-medium {
  background-color: #f0efee;
}

/* color variations */
.striped > *:nth-of-type(odd),
.striped tbody tr:nth-of-type(odd) {
  background-color: #f0efee;
}

/* borders */
/* For defining services or terms as cards using definition list */
.bt-md {
  border-top: 0.25rem solid #333;
  padding-top: 0.5rem;
}

.bt-sm {
  border-top: 0.1rem solid #333;
  padding-top: 0.3rem;
}

.bb-sm {
  border-bottom: 0.1rem solid #333;
}

.b-0 {
  border: none;
}

.b-1 {
  border: 1px solid;
}

/* margins */
.m-1 {
  margin: calc( 2 * 1rem);
}

.mb-1 {
  margin-bottom: calc( 2 * 1rem);
}

.mt-1 {
  margin-top: calc( 2 * 1rem);
}

.m-0 {
  margin: 0;
}

/* floats */
.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.float-left {
  float: left;
  margin: 0 1rem 1rem 0;
}

.float-right::after {
  clear: right;
}

.float-left::after {
  clear: left;
}
