@import "../css/root.css";
@import "../css/a11y.css";
@import "../css/alert.css";
@import "../css/form.css";
@import "../css/layout.css";
@import "../css/linkbutton.css";
@import "../css/list.css";
@import "../css/media.css";
@import "../css/nav.css";
@import "../css/table.css";
@import "../css/typography.css";
@import "../css/card.css";
@import "../css/chat.css";
@import "../css/utilities.css";
@import "code.css";
@import "../css/print.css";

.hero {
  margin:0 -1rem;
  padding: calc( 2 * 1rem);
  text-align: center;
  background: url(../img/forest.svg) top center no-repeat !important;
  background-size: cover;
  margin-bottom: 2rem;
  width: calc(100% + 2rem);
}

.hero blockquote {
  border-left: 0;
}

.hero p {
  font-size: 140%;
}

.lead {
  font-size: 140%;
  background-color: var(--col-bg-light);
  padding: 0.5rem;
  margin-bottom: calc( var(--m-norm) * 1rem);
}

#logo {
  text-decoration: none;
}

nav[aria-label="Main"]>a:first-child {
  padding: 0.25rem 0.5rem;
}

/* EXPERIMENTAL */
article > p,
article > ul,
article > ol,
article > blockquote,
article > dl {
  width: 100%;
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}
