@import "../css/root.css";
@import "../css/a11y.css";
@import "../css/alert.css";
@import "../css/accordion.css";
@import "../css/form.css";
@import "../css/layout.css";
@import "../css/linkbutton.css";
@import "../css/list.css";
@import "../css/media.css";
@import "../css/nav.css";
@import "../css/orgchart.css";
@import "../css/table.css";
@import "../css/typography.css";
@import "../css/card.css";
@import "../css/chat.css";
@import "../css/utilities.css";
@import "code.css";
@import "../css/print.css";


/* START EXPERIMENTAL */
@view-transition {
  navigation: auto;
}

header {
  view-transition-name: --persist-nav;
}

input[type="radio"]::before {
  view-transition-name: radio-input;
}

::view-transition-group(radio-input) {
  z-index: 1;
  animation-duration: .5s;
}

/* END EXPERIMENTAL */

header {
  width: 100%;
  background: var(--col-bg-light);
}

main {
  margin: 0;
}

.hero {
  margin:0 -1rem;
  padding: calc( 2 * 1rem);
  text-align: center;
  background: url(../img/forest.svg) top center / cover no-repeat !important;
  margin-bottom: 2rem;
  width: calc(100% + 2rem);
}

.hero blockquote {
  border-left: 0;
}

.hero p {
  font-size: 140%;
}

.lead {
  font-size: 140%;
  background-color: var(--col-bg-light);
  padding: 0.5rem;
  margin-bottom: calc( var(--m-norm) * 1rem);
}

#logo {
  text-decoration: none;
}

nav[aria-label="Main"]>a:first-child {
  padding: 0.25rem 0.5rem;
}
nav[aria-label="Main"]>*:last-child {
  margin-left: auto;
}
header .search {
  width: auto;
}

/* EXPERIMENTAL */
article > p,
article > ul,
article > ol,
article > blockquote,
article > dl {
  width: 100%;
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

nav[aria-label="University"] .link-action {
  margin: 0 0.5rem;
  padding: 0.75rem 1rem;
  border-color: var(--col-bg-light);
}

nav[aria-label="Libraries"] {
  display: flex;
}

nav[aria-label="Libraries"] > a {
  color: var(--col-primary);
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.15s ease-out 0.15s;
}

nav[aria-label="Libraries"] > a:first-child {
  padding: 0 0 0 0.5rem;
  margin: 0;
  height: 100%;
}

nav[aria-label="Libraries"] a svg {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem 0 0;
}

nav[aria-label="Libraries"] > a:first-child {
  padding: 0 0.5rem 0 0;
  height: 100%;
}

nav[aria-label="Libraries"] > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--col-bg-med);
  position: absolute;
  bottom: 0;
  left: 0;
}

nav[aria-label="Libraries"] > a:hover::after,
nav[aria-label="Libraries"] > a:focus::after {
  background-color: var(--col-secondary-dark);
}

nav[aria-label="Breadcrumb"] li:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}

nav[aria-label="Breadcrumb"] li:first-child a {
  color: var(--col-text);
  text-decoration: none;
}

nav[aria-label="Breadcrumb"] li:first-child a:hover,
nav[aria-label="Breadcrumb"] li:first-child a:focus {
  color: var(--col-bg-light);
}

nav[aria-label="Breadcrumb"] {
  width: 100%;
}

nav a[aria-current] {
  background-color: var(--col-link);
  color: var(--col-bg-light);
  border-radius: 0;
  text-decoration: none;
}

nav[aria-label="University"] {
  background-color: var(--col-primary);
}

nav[aria-label="University"] a {
  color: var(--col-bg-light);
}

nav[aria-label="Libraries"] {
  background-color: var(--col-bg-light);
  border-bottom: 1px solid var(--col-secondary-light);
}

nav[aria-label="University"] a:first-of-type {
  margin-right: auto;
}

nav[aria-label="Libraries"] form {
  margin-left: auto;
  margin-right: 0.5rem;
  color: var(--col-text);
}

main > article,
section > article {
    padding: 1rem;
    background: white;
    border: 1px solid var(--col-bg-medium);
    margin-bottom: calc(var(--m-norm) * 1rem);
}