/***CARD***/
.cards {
  list-style: none;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  border-radius: var(--b-rad);
  border: 0; /*to address simplifying the main article section styling*/
}

body #main-content .cards {
  max-width: 100% !important; /* to allow cards to span the full width while nested in section */
  margin: 0 auto 2rem auto; /*add margin bottom to make space for back to top links*/
}

/*center aligns a card when it's the only one in the deck*/
/*main .cards article:only-child { 
  margin: auto;
} -may not be necessary now*/

main .cards article {
  background-color: var(--col-bg-light);
}

.cards article {
  border-radius: var(--b-rad);
}

.cards.cards-portrait {
  grid-template-columns: repeat(auto-fit,30ch);
}

.cards.cards-portrait > article, .cards .cards.cards-portrait > article {
  max-width: 30ch;
}

.cards.cards-portrait > * picture {
  max-height: 100%;
}

body > footer .cards {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
}

.cards > *,
.cards .cards > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  /*-webkit-transform: translate3d(0, 0, 0);
  transition: all 0.2s cubic-bezier(0.25,0.8,0.25,1);*/
  position: relative;
  width: auto;
}

@media(max-width: 60rem) {
  .cards > *,
  .cards .cards > * {
    margin-bottom: calc(var(--m-norm) * 1rem);
  }

  footer .cards > :nth-child(3) {
    border-right: 0;
  }
  footer .cards > :nth-child(4) {
    border-bottom: 0;
  }
}

.cards > h2,
.cards > h3,
.cards > h4,
.cards > h5,
.cards > h6 {
  grid-column: 1 / -1;
}

.cards > article,
.cards .cards > article {
  border: 1px solid var(--col-bg-border);
  max-width: 66ch;
  /*margin-bottom: 1rem; need this for some cards but not all - BUG */
}

.cards .cards {
  border: 0;
  padding: 0;
  -ms-grid-columns: 1fr;
}

.cards > * h2,
.cards > * h3 {
  margin: 0;
}

.cards > h2,
.cards > h3 {
  margin: 0 auto;
  max-width: calc(66ch/1.55);
}

.cards article > .h3 {
  padding: 0.3rem 0 1rem 0;
}

.cards article .h3 + picture {
  border-radius: 0;
}

/* card buttons */
.glyph-button .glyph,
.cards.glyph-button .glyph {
  height: 5rem;
  width: 5rem;
  display: block;
  margin: 0 auto 0.5rem auto;
  position: relative;
}

.glyph-button .card-w-svg {
  padding-left: 0.5rem;
}

.glyph-button .card-w-svg .h3 svg {
  top: 0;
}

.cards > * picture {
  display: block;
  width: calc(100% + 1rem);
  margin: -0.5rem;
  min-height: 8rem;
  max-height: 29ch;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  border-top-left-radius: var(--b-rad);
  border-top-right-radius: var(--b-rad);
}

.cards > * picture source,
.cards > * picture img {
  height: auto;
  width: 100%;
}

.card-body {
  flex-grow: 1;
  order: 2;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.card-body > :last-child {
  margin-top: auto;
}

/* card as link-type work */
/* removing card as link feature - Aug 2024 */
/*.card-as-link:focus-within,
.card-as-link:hover {
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}

.card-body .h3 a::before {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
}*/

/* card as link retained only for locations on homepage - Aug 2024 */
.locations-summary .card-as-link:focus-within,
.locations-summary .card-as-link:hover {
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}

.locations-summary .card-body .h3 a::before {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
}

/*.card-body:focus .h3 a::before {
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}*/

.card-body > :not(.h3) {
  position: relative;
  z-index: 1;
}

.cards > * footer {
  margin: auto -0.5rem -0.5rem -0.5rem;
  background-color: var(--col-bg-medium);
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  order: 3;
  border-bottom-left-radius: var(--b-rad);
  border-bottom-right-radius: var(--b-rad);
}

/* list-group in cards */
.cards .list-group {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.cards .list-group li {
  border-left: 0;
  border-right: 0;
  padding-bottom: 0.5rem;
}

/* horizontal card */
.cards-x > * {
  display: grid !important;
  grid-template-columns: minmax(1fr, 180px) repeat(3, 1fr);
  grid-template-rows: auto auto; 
  border: 1px solid var(--col-bg-med-dark);
  padding: 0;
  margin-bottom: 1rem;
  border-radius: var(--b-rad);
}

.cards-x picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 0 1rem 0 0;
  width: 100%;
  min-height: 8rem;
  max-height: 29ch;
  overflow-y: hidden;
  border-top-left-radius: var(--b-rad);
  border-bottom-left-radius: var(--b-rad);
}

.cards-x > * picture source,
.cards-x > * picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-x .card-body {
  grid-column: 2 / 6;
  grid-row: 1;
}

.cards-x p {
  margin-bottom: 0;
}

/* card - promotions */
.cards-promo > * picture {
  margin-top: 0.3rem;
}

.cards-promo > .card-action-button {
  bottom: -4.5rem;
}

/*.card-as-link:has(.card-action-button:hover):hover,
.card-as-link:has(p:hover):hover {
  outline: none;
}*/

/* card - job posting */
#main-content .card-job {
  border: 1px solid var(--col-bg-med-dark);
  max-width: 100%;
  padding: 0;
}

.card .card-job-title {
  background-color: var(--col-secondary-hint);
  border-bottom: 1px solid var(--col-secondary-light);
  margin: 0 0 0.3rem;
  padding: 1rem;
}

.card .card-job-body {
  display: flex;
  padding: 0.3rem 1rem;
  flex-wrap: wrap;
  margin: 0 auto 0;
  max-width: 66ch;
}

.card .card-job-detail {
  flex: 0 1 18rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
  border: 0;
}

.card-job-detail th {
  white-space: nowrap;
}

.card-job-detail tr {
  border: 0;
  border-bottom: 1px solid;
  margin-bottom: 0;
  display: block;
}

.card .card-job-description {
  flex: 1 1 51%;
  padding: 0.3rem 0;
  margin: 0;
}

.cards .dl-horizontal dt {
  flex: 0 1 40%;
}

/* card fact style */
.card-facts .cards {
  text-align: center;
}

.card-facts .cards > article,
.card-facts .cards .cards > article {
  border-top: 5px solid var(--col-secondary);
}

.card-facts .cards .h3 {
  background-color: var(--col-bg-medium);
  margin: -1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--col-bg-border);
  border-top-left-radius: var(--b-rad);
  border-top-right-radius: var(--b-rad);
}

.card-facts .cards p {
  margin-bottom: 0.5rem;
}

.card-facts .cards strong {
  color: var(--col-primary);
  font-size: 1.3rem;
}

/* card optional footer */

.card footer {
  border-top: 1px solid var(--col-bg-medium);
  background-color:  var(--col-bg-light);
  padding: 0.3rem 1rem;
}

.card footer * {
  margin: 0 0.1rem;
}

.card footer a {
  display: inline-block;
}

.card-action {
  min-height: 5rem;
  padding-bottom: 2rem;
}

.card-glyph {
  display: block;
  margin: auto;
}

.card-action p {
  margin-bottom: 0;
}

.card-action-button {
  width: auto;
  padding: 1rem;
  white-space: nowrap;
}

.cards article .card-action-button {
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
  z-index: 10;
}

/* horizontal location card deck */
#main-content .cards.card-location {
  grid-gap: 1rem;
  padding: 0.5rem;
  background-color: var(--col-bg-medium);
}
#main-content .cards.card-location h3 {
  margin-bottom: 0;
}

/* SVG conditional formatting madness */
.cards .list-w-svg li,
.card-w-svg {
  padding-left: 2rem;
}

.cards .list-w-svg li {
  display: flex;
  flex-direction: column;
}

.list-w-svg li > svg,
.card-w-svg .h3 svg {
  position: absolute;
  left: 0.5rem;
  width: 1em;
  height: 1em;
}

.list-w-svg li > svg {
  top: 0.3rem;
}

.card-w-svg .h3 svg {
  top: 1rem;
}

.list-w-svg a svg:hover,
.list-w-svg a svg:focus,
.card-w-svg a svg:hover,
.card-w-svg a svg:focus {
  color: var(--col-link);
  fill: var(--col-link);
}

.card-w-svg footer {
  margin-left: -2rem;
}

/*feature cards*/
main .cards-feature {
  grid-template-columns: 1fr;
}

main #main-content .cards.cards-feature article > .h3 + picture {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.cards-feature article > .h3 {
  grid-area: cf-subh;
  background-color: var(--col-secondary-light);
  border-top-left-radius: var(--b-rad);
  border-top-right-radius: var(--b-rad);
  padding: 0.5rem;
}
.cards-feature picture {
  grid-area: cf-img;
}
.cards-feature footer {
  grid-area: cf-footer;
  margin: 0;
}
.cards-feature .card-body {
    flex-basis: 66ch;
    padding: 0.5rem;
    grid-area: cf-body;
}

main #main-content .cards.cards-feature.cards-reverse article:has(> .h3):has(footer) {
  grid-template-areas: 
  "cf-subh cf-subh"
  "cf-body cf-img"
  "cf-footer cf-footer";
}

main #main-content .cards.cards-feature.cards-reverse article:has(> .h3) {
  grid-template-areas: 
  "cf-subh cf-subh"
  "cf-body cf-img";
}

main #main-content .cards.cards-feature.cards-reverse article:has(footer) {
  grid-template-areas: 
  "cf-body cf-img"
  "cf-footer cf-footer";
}

main #main-content .cards.cards-feature article:has(> .h3):has(footer) {
  grid-template-areas: 
  "cf-subh cf-subh"
  "cf-img cf-body"
  "cf-footer cf-footer";
}

main #main-content .cards.cards-feature article:has(> h3) {
  grid-template-areas: 
  "cf-subh cf-subh"
  "cf-img cf-body";
}

main #main-content .cards.cards-feature article:has(footer) {
  grid-template-areas: 
  "cf-img cf-body"
  "cf-footer cf-footer";
}

main #main-content .cards.cards-feature.cards-reverse article {
  /*grid-template-columns: minmax(1fr, 36rem) 1fr;*/
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "cf-body cf-img";
}

main #main-content .cards.cards-feature article {
  display: grid;
  justify-content: space-between;
  /*grid-template-columns: 1fr minmax(1fr, 36rem);*/
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "cf-img cf-body";
  padding: 0;
  max-width: 100%;
}

.cards.cards-feature > * picture {
    border-radius: var(--b-rad) 0 0 var(--b-rad);
    margin: 0 0 -1px 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.cards-feature picture img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-feature.cards-reverse > * picture {
    border-radius: 0 var(--b-rad) var(--b-rad) 0;
}

main #main-content .cards.cards-feature article:has(footer) picture {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cards-feature.cards-reverse .card-action-button {
  left: 0.5rem;
  right: inherit;
}

@media (max-width:50rem) {

  main #main-content .cards.cards-feature article,
  main #main-content .cards.cards-feature.cards-reverse article {
    display: block;
  }

  .cards.cards-feature > * picture {
    height: auto;
    aspect-ratio: 2.3/1;
  }

  main #main-content .cards.cards-feature article {
    display: block;
  }

  main #main-content .cards.cards-feature article picture,
  main #main-content .cards.cards-feature article:has(footer) picture {
    border-top-right-radius: var(--b-rad);
  }
  main #main-content .cards.cards-feature.cards-reverse article picture,
  main #main-content .cards.cards-feature.cards-reverse article:has(footer) picture {
    border-top-left-radius: var(--b-rad);
  }

  .cards-feature > * picture {
    object-fit: contain;
  }

  .cards-feature.cards-reverse picture {
    border-radius: var(--b-rad) var(--b-rad) 0 0;
  }

}

@media (max-width:40rem) {
  .cards {
    display: block;
  }
  .cards-x > * {
    display: flex;
    flex-direction: column;
  }

  .cards-x picture,
  .cards-x > * > a {
    width: 100%;
  }

  .card-body {
    /*min-width: 100%;*/
    margin: auto;
    width: 100%;
  }

  .cards-feature {
    display: block;
  }

}
