/***CARD***/
.cards {
  list-style: none;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
}

body > footer .cards {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
}

/* for IE */
.cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.cards > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.cards > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.cards > *:nth-child(9) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.cards > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.cards > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.cards > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.cards > *:nth-child(13) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.cards > *:nth-child(14) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.cards > *:nth-child(15) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.cards > *,
.cards .cards > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  transition: all 0.2s cubic-bezier(0.25,0.8,0.25,1);
  position: relative;
  width: auto;
}

.cards > article,
.cards .cards > article {
  border: 1px solid var(--col-bg-med-dark);
}

.cards .cards {
  border: 0;
  padding: 0;
  -ms-grid-columns: 1fr;
}

.cards > * h2,
.cards > * h3 {
  margin: 0;
}

.cards article > .h3 {
  padding-bottom: 1rem;
}

.cards > * picture {
  display: block;
  width: calc(100% + 1rem);
  margin: -0.5rem;
  height: 8rem;

  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}

.cards > * picture source,
.cards > * picture img {
  /*object-fit: cover;
  height: 100%;*/
  width: 100%;
}

.card-body {
  flex-grow: 1;
  order: 2;
  padding: 0.5rem;
  flex-wrap: wrap;
  /*max-width: 60ch;*/
}

.card-body > :last-child {
  margin-top: auto;
}

/*.card-body > :nth-last-child(2) {
  margin-bottom: calc(var(--m-norm) * 1rem);
}*/

/* card as link-type work */

.card-as-link:focus-within,
.card-as-link:hover {
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}

.card-body .h3 a::before {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
}

/*.card-body:focus .h3 a::before {
  outline: 0.2rem solid var(--col-link);
  outline-offset: 0.1rem;
}*/

.card-body > :not(.h3) {
  position: relative;
  z-index: 1;
}

.cards > * footer {
  margin: auto -0.5rem -0.5rem -0.5rem;
  background-color: var(--col-bg-medium);
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  order: 3;
}

/* list-group in cards */
.cards .list-group {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.cards .list-group li {
  border-left: 0;
  border-right: 0;
}

/* horizontal card */
.cards-x > * {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--col-bg-med-dark);
  padding: 0;
}

.cards-x picture,
.cards-x > * > a {
  width: 18rem;
  flex-shrink: 0;
  display: inherit;
  height: 100%;
  margin: 0;
}

.cards-x p {
  margin-bottom: 0;
}

/* card - promotions */
.cards-promo > * picture {
  margin-top: 0.3rem;
}

.cards-promo > .card-action-button {
  bottom: -4.5rem;
}

/* card - job posting */
.card-job {
  border: 1px solid var(--col-bg-med-dark);
}

.card .card-job-title {
  background-color: var(--col-secondary-hint);
  border-bottom: 1px solid var(--col-secondary-light);
  margin: 0 0 0.3rem;
  padding: 1rem;
}

.card .card-job-body {
  display: flex;
  padding: 0.3rem 1rem;
  flex-wrap: wrap;
}

.card .card-job-detail {
  flex: 0 1 18rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.card-job-detail th {
  white-space: nowrap;
}

.card-job-detail tr {
  border: 0;
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.card .card-job-description {
  flex: 1 1 51%;
  padding: 0.3rem 0;
  margin: 0;
}

/* card optional footer */

.card footer {
  border-top: 1px solid var(--col-bg-medium);
  background-color:  var(--col-bg-light);
  padding: 0.3rem 1rem;
}

.card footer * {
  margin: 0 0.1rem;
}

.card footer a {
  display: inline-block;
}

.card-action {
  min-height: 5rem;
  padding-bottom: 2rem;
}

.card-glyph {
  display: block;
  margin: auto;
}

.card-action p {
  margin-bottom: 0;
}

.card-action-button {
  width: auto;
  padding: 1rem;
  white-space: nowrap;
}

.cards article .card-action-button {
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
  z-index: 10;
}

/* SVG conditional formatting madness */
.list-w-svg li,
.card-w-svg {
  padding-left: 2rem;
}

.list-w-svg li > svg,
.card-w-svg .h3 svg {
  position: absolute;
  left: 0.5rem;
  width: 1em;
  height: 1em;
}

.list-w-svg a svg:hover,
.list-w-svg a svg:focus,
.card-w-svg a svg:hover,
.card-w-svg a svg:focus {
  color: var(--col-link);
  fill: var(--col-link);
}

.card-w-svg footer {
  margin-left: -2rem;
}


@media (max-width:40rem) {
  .cards {
    display: block;
  }

  .cards-x > * {
    flex-direction: column;
  }

  .cards-x picture,
  .cards-x > * > a {
    width: 100%;
  }

  .card-body {
    min-width: 100%;
    margin: auto;
  }
}
