footer .chat {
  border-top-left-radius: var(--b-rad);
  border-top-right-radius: var(--b-rad);
}

footer a.chat:hover,
footer a.chat:focus {
  color: var(--col-bg-light);
}

body > footer a.chat svg,
body > footer a.chat:hover svg,
body > footer a.chat:focus svg {
  fill: var(--col-bg-light);
}

footer .chat {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 20;
  text-decoration: none;
}

.chat .glyph-chat-empty {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.15rem;
}

.chat .glyph-link-ext {
  margin-left: 0.6rem;
}

footer .chat:focus,
footer .chat:hover {
  text-decoration: underline;
}
