footer .chat {
  display: none;
}

footer .chat a:hover,
footer .chat a:focus {
  var(--col-secondary-light);
}

@media (min-width: 50rem) {
  footer .chat {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 20;
  }
}
