/***NAV***/
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#umn-logo, #logo {
  width: clamp(calc(170px + 1rem),220px,calc(220px + 1rem));
}

#umn-logo svg {
  height: 38px;
}

#logo svg {
  height: 50px;
}

@media (max-width: 50rem) {
  #umn-logo,
  #logo {
    width: 170px;
    /*width: calc(170px + 1rem);*/
  }

  #umn-logo svg {
    height: 37px;
  }

  #logo svg {
    height: 31px;
    padding-top: 5px;
  }
}

#umn-logo svg,
#logo svg {
  width: 100%;
}

#logo path {
  fill: var(--col-primary);
}

#logo .svg-m path, #logo polygon.svg-m {
  fill: var(--col-primary);
}

#logo:hover .svg-m path,
#logo:focus .svg-m path,
#logo:hover polygon.svg-m,
#logo:focus polygon.svg-m {
  fill: white;
}

#logo:hover .svg-text path,
#logo:focus .svg-text path {
  fill: white;
}

#logo path {
  fill: var(--col-text);
}

nav[aria-label="University"] {
  flex-wrap: nowrap;
}

nav[aria-label="University"] .link-action {
  margin: 0 0.5rem;
  padding: 0.75rem 1rem;
  border-color: var(--col-bg-light);
}

nav > a {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

@media (max-width: 50rem) {
  nav > a {
    padding: 0.5rem;
  }
}

nav > a:hover, nav > a:focus {
  text-decoration: underline;
}

nav[aria-label="Libraries"] {
  display: flex;
}

nav[aria-label="Libraries"] > a {
  color: var(--col-primary);
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.15s ease-out 0.15s;
}

nav[aria-label="University"] > a:first-child {
  padding: 0.5rem;
}

nav[aria-label="Libraries"] > a:first-child {
  padding: 0 0 0 0.5rem;
  margin: 0;
  height: 100%;
}

nav[aria-label="Libraries"] a svg {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem 0 0;
}

@media (max-width: 50em) {
  nav[aria-label="University"] > a {
    padding: 0.5rem;
  }
}

nav[aria-label="Libraries"] > a:first-child {
  padding: 0 0.5rem 0 0;
  height: 100%;
}

nav[aria-label="University"] > a:hover,
nav[aria-label="University"] > a:focus,
nav[aria-label="Libraries"] > a:hover,
nav[aria-label="Libraries"] > a:focus {
 color:var(--col-text);
 background-color: var(--col-secondary-light);
}

#umn-logo:hover svg .white-fill {
  fill: var(--col-text);
}

/*nav[aria-label="Libraries"] > a:hover,
nav[aria-label="Libraries"] > a:focus {
  color: #fff;
  background-color: var(--col-primary);
}

nav[aria-label="Libraries"] > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--col-bg-med);
  position: absolute;
  bottom: 0;
  left: 0;
}

nav[aria-label="Libraries"] > a:hover::after,
nav[aria-label="Libraries"] > a:focus::after {
  background-color: var(--col-secondary-dark);
}*/

header > a[aria-current="location"]:not(#logo)::after,
header > a[aria-current="location"]:not(#logo):hover::after,
header > a[aria-current="location"]:not(#logo):focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--col-secondary-dark);
  position: absolute;
  bottom: 0;
  left: 0;
}

/*** Breadcrumb nav ***/
nav[aria-label="Breadcrumb"] {
  flex-basis: 100%;
  padding: .5rem;
  border-bottom:1px solid var(--col-bg-medium);
  width: 100%;
}

@media (max-width: 50rem) {
  nav[aria-label="Breadcrumb"] {
    padding: 0.3rem;
  }
}

nav[aria-label="Breadcrumb"] ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav[aria-label="Breadcrumb"] li {
  display: inline-block;
}

nav[aria-label="Breadcrumb"] li:after {
  content: "\2000";
  position: absolute;
}

nav[aria-label="Breadcrumb"] li:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}

nav[aria-label="Breadcrumb"] li:first-child a {
  color: #333;
  text-decoration: none;
}

nav[aria-label="Breadcrumb"] li:first-child a:hover,
nav[aria-label="Breadcrumb"] li:first-child a:focus {
  color: var(--col-bg-light);
}

nav[aria-label="Breadcrumb"] li:not(:first-child):before {
  content: "";
  display: inline-block;
  margin-left: 0.75ch;
  margin-right: 0.5ch;
  border-top: 0.75ch solid transparent;
  border-bottom: 0.75ch solid transparent;
  border-left: 0.75ch solid var(--col-text);
}

/* Content navigation, or submenu */
nav[aria-label="Content"] {
  padding: 0 1rem;
}

nav[aria-label="Content"] ul {
  width: 100%;
}

nav[aria-label="Content"] li {
  line-height: 2;
}

nav[aria-label="Content"] li > a {
  display: block;
}

/*nav a[aria-current] {
  background-color: var(--col-link);
  color: white;
  border-radius: 0;
  text-decoration: none;
}*/

@media (min-width: 80em) { /* flex-basis shouldn't require this...*/
  nav[aria-label="Content"] {
    max-width: 20rem;
  }
}

nav[aria-label="In-page"] [aria-current] {
  background-color: var(--col-secondary-light);
  color: var(--col-text);
}

nav[aria-label="Pages"] a {
  border: 1px solid var(--col-link);
  border-radius: var(--b-rad);
}

nav[aria-label="University"] {
  background-color: var(--col-primary);
}

nav[aria-label="University"] a {
  color: var(--col-bg-light);
}

nav[aria-label="Libraries"], nav[aria-label="Main"] {
  background-color: var(--col-bg-light);
  border-bottom: 1px solid var(--col-secondary-light);
}

nav[aria-label="University"] a:first-of-type {
  margin-right: auto;
}

nav[aria-label="Libraries"] form {
  margin-left: auto;
  margin-right: 0.5rem;
  color: var(--col-text);
}
