/* round of applause to Chris Coyer: https://css-tricks.com/responsive-data-tables/
and Adrian Roselli: http://adrianroselli.com/2017/11/a-responsive-accessible-table.html#Responsive
*/


table, thead, tbody, th, tr {
  display: block;
}

table {
  border-radius: var(--b-rad);
}

body #main-content table {
  max-width: 100% !important;
  width: 100%;
  margin: 0 auto 1.3rem auto;
}

th {
  text-align: left;
  vertical-align: bottom;
  font-size: var(--h3);
}

tbody tr {
  margin-bottom: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: var(--col-bg-medium);
}

table tr:last-child td:first-of-type {
  border-bottom-left-radius: var(--b-rad);
}

table tr:last-child td:last-of-type {
  border-bottom-right-radius: var(--b-rad);
}

thead th, tfoot tr {
  background-color: var(--col-secondary-light);
}

thead th:first-of-type {
  border-top-left-radius: var(--b-rad);
}

thead th:last-of-type {
  border-top-right-radius: var(--b-rad);
}

/* for time in hours tables*/
.table-hours p {margin-bottom:0;}

/* Hide table headers (but not display: none;, for accessibility -- sighted users will see labels below) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  border: 1px solid var(--col-bg-med-dark);
}

td {
  display: flex;
  flex-flow: row wrap;
}

thead td, thead th,
tbody td, tbody th {
  background-clip: padding-box; /* addresses ancient firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=688556*/
}

td::before {
  font-weight: bold;
  flex-basis: 50%;
  margin-right: 2rem;
}

caption {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: var(--h3);
  padding: 0.5rem 0;
  display: block;
}

@media (min-width: 800px) {

  #main table tbody td:nth-of-type(n)::before,
  #main table tbody td:nth-of-type(n)::after {
    content: "";
    margin-right: 0;
  }

  thead tr {
      position: static;
  }

  thead th {
    position: sticky;
    top: 0;
  }

  thead, tbody {
    display: table-row-group;
  }

  th, td {
    display: table-cell;
    padding: 1rem;
    vertical-align: top;
    font-size: var(--base-size);
  }

  tr {
    display: table-row;
  }

  tr:last-of-type {
    border-bottom: 0;
  }

  table {
    display: table;
    border: 1px solid var(--col-bg-med-dark);
  }

  caption {
    display: table-caption;
  }

  .table-hours th {
    white-space: nowrap;
  }
  .table-hours p {
    margin-bottom: 0;
  }
}
